body {
  background-color: #9b835f;
  font-family: 'Open Sans', -serif;
}

.logo {
  width: 3em;
  height: auto;
}

header h3 {
  margin: 0;
  color: #d6a046;
}

.img-choice {
  height: 10vw;
  width: auto;
}

.grey-box {
  border-radius: 10%;
  background-color: grey;
}

.text-vs {
  font-size: 5em;
  color: red;
}

main h2 {
  font-size: 3vw;
}

.img-refresh {
  height: 5vw;
  width: auto;
}

.text-result {
  font-size: 5vw;
  color: white;
  padding: 10px 15px;
  max-width: 350px;
  background-color: green;
  transform: rotate(-20deg);
}

.text-error {
  font-size: 5vw;
  color: red;
}

/* Style for Smartphone */
@media screen and (max-width: 400px) {
  header h3 {
    font-size: 18px;
  }

  .logo {
    width: 1.8em;
    height: auto;
  }

  .text-vs {
    font-size: 2em;
  }
}
