<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/game.css">

  <title>Rock Paper Scissors</title>
</head>

<body class="container">

  <header class="d-flex flex-row align-items-center">
    <div class="p-2">
      <span>
        <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="#704c22"
          xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>
      </span>
    </div>

    <div class="p-2">
      <img src="/img/game/logo.png" alt="logo" class="logo">
    </div>

    <div class="p-2">
      <h3>ROCK PAPER SCISSORS</h3>
    </div>
  </header>

  <!-- Game Content -->
  <main class="container mt-1">
    <h2 class="text-center">Room :
      <span id="room-code">
        <%= room.roomCode%>
      </span>
    </h2>
    <div class="d-flex flex-row justify-content-center align-items-center">
      <div class="p-2">
        <div class="text-center">
          <h2>PLAYER 1</h2>
          <h3>
            <%= room.playerOne %>
          </h3>
        </div>
        <% if (room.playerOne===user.username) { %>
          <div class="box-one p-3 my-3 text-center">
            <img onclick="playerOneClick(0,'rock')" src="/img/game/batu.png" alt="rock" class="img-choice player-one"
              title="rock">
          </div>
          <div class="box-one p-3 my-3 text-center">
            <img onclick="playerOneClick(1, 'paper')" src="/img/game/kertas.png" alt="paper"
              class="img-choice player-one" title="paper">
          </div>
          <div class="box-one p-3 my-3 text-center">
            <img onclick="playerOneClick(2,'scissors')" src="/img/game/gunting.png" alt="scissors"
              class="img-choice player-one" title="scissors">
          </div>
          <% } else { %>
            <div class="p-3 my-3 text-center">
              <img class="img-choice" src="/img/game/batu.png" alt="rock" title="rock">
            </div>
            <div class="p-3 my-3 text-center">
              <img class="img-choice" src="/img/game/kertas.png" alt="paper" title="paper">
            </div>
            <div class="p-3 my-3 text-center">
              <img class="img-choice" src="/img/game/gunting.png" alt="scissors" title="scissors">
            </div>
            <% } %>
      </div>

      <div class="p-2 mx-2 flex-fill">
        <div class="text-center">
          <% if (room.result) { %>
            <h1 class="text-result m-auto">
              <%= room.result %>
            </h1>
            <% } else {%>
              <h1 class="text-vs m-auto">VS</h1>
              <h1 class="text-result m-auto d-none"></h1>
              <h1 class="text-error m-auto d-none"></h1>
              <% } %>
        </div>
      </div>

      <div class="p-2">
        <div class="text-center">
          <h2>PLAYER 2</h2>
          <h3>
            <%= room.playerTwo %>
          </h3>
        </div>
        <% if (room.playerTwo===user.username) { %>
          <div class="box-two p-3 my-3 text-center">
            <img onclick="playerTwoClick(0,'rock')" src="/img/game/batu.png" alt="rock" class="img-choice player-two"
              title="rock">
          </div>
          <div class="box-two p-3 my-3 text-center">
            <img onclick="playerTwoClick(1,'paper')" src="/img/game/kertas.png" alt="paper"
              class="img-choice player-two" title="paper">
          </div>
          <div class="box-two p-3 my-3 text-center">
            <img onclick="playerTwoClick(2,'scissors')" src="/img/game/gunting.png" alt="scissors"
              class="img-choice player-two" title="scissors">
          </div>
          <% } else { %>
            <div class="p-3 my-3 text-center">
              <img src="/img/game/batu.png" alt="rock" class="img-choice" title="rock">
            </div>
            <div class="p-3 my-3 text-center">
              <img src="/img/game/kertas.png" alt="paper" class="img-choice" title="paper">
            </div>
            <div class="p-3 my-3 text-center">
              <img src="/img/game/gunting.png" alt="scissors" class="img-choice" title="scissors">
            </div>
            <% } %>

      </div>
    </div>

    <div class="row py-1">
      <div class="p-2 col d-flex">
        <div class="p-1 m-auto refresh">
          <img src="/img/game/refresh.png" alt="refresh" class="img-refresh">
        </div>
      </div>
    </div>
  </main>
  <!--  End of Content -->

  <script src="/js/games.js"></script>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</body>

</html>