<!doctype html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <div class="bg-lobby">
        <div class="card text-white bg-dark mx-auto shadow mt-5" style="max-width: 20rem;">
          <div class="text-center card-header">
            <h1>Let's Play</h1>
          </div>
          <div class="card-body">
            <div class="form-group">
              <button type="button" class="btn btn-light btn-outline-warning w-100" id="create"
                value="<%=user.username%>">Create Room</button>
              <h2 class="text-center my-3">OR</h2>
              <input type="text" class="form-control text-center" id="room-code" name="join"
                placeholder="enter key to join game" required>
              <button type="button" class="btn btn-light btn-outline-warning w-100 my-2" id="join"
                value="<%=user.username%>">Join Room</button>
              <div class="join error text-danger"></div>
            </div>
          </div>
        </div>

        <div class="alert alert-danger alert-dismissible fade" role="alert">
          <strong id="msg-failed"></strong> Check your connection.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="alert alert-success alert-dismissible fade" role="alert">
          <strong id="msg-success"></strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>

      <%- include ('./partials/footer') %>
        <script src="/js/lobby.js"></script>
  </body>

</html>