<!doctype html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <div class="jumbotron">
        <div class="card text-white bg-dark shadow-custom mx-auto mt-4" style="max-width: 20rem;">
          <div class="card-header">
            <h1>Log in</h1>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" name="username" placeholder="username">
                <div class="username error"></div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password">
                <div class="password error"></div>
              </div>
              <button class="btn btn-light">Log in</button>
            </form>
          </div>
        </div>
      </div>

      <%- include('./partials/footer') %>

        <script>
          const form = document.querySelector('form')
          const usernameError = document.querySelector('.username.error')
          const passwordError = document.querySelector('.password.error')

          const resetError = () => {
            usernameError.textContent = ''
            passwordError.textContent = ''
          }

          form.oninput = resetError

          form.addEventListener('submit', (ev) => {
            ev.preventDefault()

            // get value
            const username = form.username.value
            const password = form.password.value
            console.log(username, password)

            if (!username) return usernameError.textContent = 'please insert username'
            if (!password) return passwordError.textContent = 'please insert your password'


            const headers = new Headers();
            headers.append('Content-Type', 'application/json')

            const body = JSON.stringify({ username, password })

            const requestOptions = {
              method: 'POST',
              headers,
              body,
              redirect: 'follow'
            }

            return fetch('http://localhost:3000/api/user/login', requestOptions)
              .then(response => response.json())
              .then(result => {
                if (result.errors) {
                  usernameError.textContent = result.errors.username
                  passwordError.textContent = result.errors.password
                }

                if (result.user) return location.replace('/home')

              })
              .catch(error => console.log('error', error));
          })
        </script>
  </body>

</html>