<!doctype html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/navbar') %>

      <div class="jumbotron">
        <div class="alert alert-success alert-dismissible fade" role="alert">
          <strong>Success register!</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="card text-white bg-dark mx-auto mt-4 shadow-custom" style="max-width: 21rem;">
          <div class="card-header">
            <h1>Register</h1>
          </div>
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control" name="email" placeholder="email@example.com">
              </div>
              <div class="form-group">
                <label for="username">Username</label>
                <input type="username" class="form-control" name="username">
              </div>
              <fieldset class="form-group">
                <label>Gender</label>
                <div class="row">
                  <div class="col-sm-10">
                    <div class="form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="female" value="f" required>
                      <label class="form-check-label" for="female">
                        Female
                      </label>
                      <input class="form-check-input ml-2" type="radio" name="gender" id="male" value="m" required>
                      <label class="form-check-label" for="male">
                        Male
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="password">
              </div>
              <div class="form-group">
                <label for="confirm">Confirm Password</label>
                <input type="password" class="form-control" name="confirm" placeholder="retype password">
                <div class="confirm-password error"></div>
              </div>
              <div class="message error"></div>
              <button class="btn btn-light" id="login">Register</button>
            </form>
          </div>
        </div>
      </div>

      <%- include ('./partials/footer') %>

        <script>
          const form = document.querySelector('form')
          const messageError = document.querySelector('.message.error')
          const confirmPasswordError = document.querySelector('.confirm-password')

          const resetError = () => {
            messageError.textContent = ''
            confirmPasswordError.textContent = ''
          }

          form.oninput = resetError

          form.addEventListener('submit', (ev) => {
            ev.preventDefault()

            // get value
            const email = form.email.value
            const username = form.username.value
            const password = form.password.value
            const confirmPassword = form.confirm.value
            const gender = form.gender.value

            if (confirmPassword !== password) return confirmPasswordError.textContent = 'please insert the same password'

            const headers = new Headers()
            headers.append('Content-Type', 'application/json')

            const body = JSON.stringify({
              username, password, email, gender
            })

            const requestOptions = {
              method: 'POST',
              headers,
              body,
              redirect: 'follow'
            }

            return fetch('http://localhost:3000/api/user/register', requestOptions)
              .then((response) => response.json())
              .then((result) => {
                console.log(result)
                if (result.errors) return messageError.textContent = result.errors

                if (result.user) {
                  const popupAlert = document.querySelector('.alert')
                  popupAlert.classList.add('show')

                  return setTimeout(() => {
                    location.replace('/user/login')
                  }, 1500)
                }
              })
              .catch((error) => console.log('error', error))
          })

        </script>
  </body>

</html>