<header>
  <nav class="navbar navbar-expand-md navbar-dark shadow fixed-top navbar-custom px-5">
    <a class="navbar-brand" href="/home">Rock Paper Scissors</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#_navbar" aria-controls="_navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="_navbar">
      <ul class="navbar-nav ml-auto">
        <% if (user) { %>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/api/user/logout">Log Out</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/user/<%=user.username%>/profile">
              Profile
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/game/lobby">Play</a>
          </li>
          <% if (user.role==='admin' ) { %>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/dashboard">
                Dashboard
              </a>
            </li>
            <% } %>
              <% } else { %>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/user/login">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/user/register">Register</a>
                </li>
                <% } %>
      </ul>
    </div>
  </nav>
</header>